<div class="usm-footer">

  <div class="usm-footer__brand">
    <img src="/assets/images/usm-watermark.png"
         alt="The University of Southern Mississippi">
  </div>

  <div class="usm-footer__contact">

    <div class="usm-footer__item">
      <i class="fas fa-envelope"></i>
      <a href="mailto:YOUR_USM_EMAIL@usm.edu">
        Ahsan.Ali@usm.edu
      </a>
    </div>

    <div class="usm-footer__divider"></div>

    <div class="usm-footer__item">
      <i class="fas fa-map-marker-alt"></i>
      <span>Hattiesburg, MS, USA</span>
    </div>

  </div>

</div>