body {
  background-color: #f7f9f6 !important;
  color: #154734 !important;
}

a {
  color: #154734 !important;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #FFB81C !important;
  text-decoration: none;
}

/* Justify About Me text ONLY on the home page */
.layout--home .page__content p {
  text-align: justify !important;
}

/* Watermark only on homepage */
body.home {
  background-image: url("/assets/images/baylor-watermark.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 700px auto !important;
}

