body {
  background-color: #f7f9f6 !important;
  color: #154734 !important;
}

a {
  color: #154734 !important;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #FFB81C !important;
  text-decoration: none;
}

/* Justify About Me text ONLY on the home page */
.layout--home .page__content p {
  text-align: justify !important;
}